{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="article">
  <div class="article-list">
    <table>
      <tbody>
        <tr>
          <th>サムネイル</th>
          <th>タイトル</th>
          <th>お気に入り登録者</th>
          <th>作成者</th>
          <th>作成日</th>
        </tr>
        {% for article in article_list %}
        {% if article.release %}
        <tr>
          <td class="article-thumbnail"><a href="{% url 'article:article_detail' article.pk %}"><img
                src="{{ article.thumbnail.url }}"></a></td>
          <td>{{ article.title }}</td>
          <td>
            {% for like in article.article.all %}
            <p><a href="{% url 'accounts:profile_detail' like.article.user.pk %}">{{ like.user.username }}</a></p>
            {% endfor %}
          </td>
          <td><a href="{% url 'accounts:profile_detail' article.user.pk %}">{{ article.user.username }}</a></td>
          <td>{{ article.created_at }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}