{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <!-- オリジナルスタイル -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/style.css.map' %}"> -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="login">
  <form action="{% url 'contact:contact_form' %}" method="post" class="login-form">
    <h1 style="color: #fff;">Contact</h1>
    {% csrf_token %}
    <input type="text" name="subject" class="login-username" id="id_username" autofocus="true" required="true"
      placeholder="題名" />
    <input type="email" class="login-username" name="sender" placeholder="Email" required>
    <input type="text" name="message" class="login-username" id="id_username" autofocus="true" required="true"
      placeholder="内容" />
    <input type="hidden" name="myself" id="id_myself" class="login-username">
    <input type="submit" name="contact" value="送信" class="login-submit" />
  </form>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
</body>

</html>