{% load static %}
<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Engineer Weapon | Login</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- オリジナルスタイル -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- Google Font -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="login">
  <form action="{% url 'contact:contact_form' %}" method="post" class="login-form">
    <h1 style="color: #fff;" class="title">Contact</h1>
    {% csrf_token %}
    <input type="text" name="username" class="login-username" id="id_username" autofocus="true" required="true"
      placeholder="氏名" />
    <input type="email" class="login-username" name="sender" placeholder="Email" required>
    <input type="tel" class="login-username" name="tel" placeholder="tel" required>
    <input type="text" name="subject" class="login-username" id="id_username" autofocus="true" required="true"
      placeholder="題名" />
    <textarea type="text" name="message" class="login-username" id="id_message" autofocus="true" required="true"
      row='10' placeholder="内容" style="height: 120px;" /></textarea>
    <input type="submit" name="contact" value="送信" class="login-submit" />
    <p style="text-align: center;"><a href="{% url 'accounts:login' %}" style="color: #fff;">Login?</a></p>
  </form>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
</body>

</html>