{% extends 'base/base.html' %}
{% load static %}
{% block page-title %}
{% if case %}
案件更新
{% else %}
案件作成
{% endif %}

<small>{{ case.title }}</small>
{% endblock %}
{% block pankuzu %}
{% if case %}
案件更新
{% else %}
案件作成
{% endif %}
{% endblock %}
{% block content %}
<div class="article">
  <div class="article-form">
    <form method="POST" class="is-form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-content">
      {{ form.errors }}
      <p class="form_content"><input type="hidden" name="user" value="{{ user.pk }}" id="id_user" readonly></p>
      <p class="title">取引先企業</p>
      <p class="form_content">{{ form.shop }}</p>
      <p class="title">ステータス<br>(進捗投稿後チェック)</p>
      <p class="form_content">{{ form.status }}</p>
      <p class="title">案件名</p>
      <p class="form_content">{{ form.title }}</p>
      <p class="title">メンバー</p>
      <p class="form_content">{{ form.member }}</p>
      <p class="title">テストurl1</p>
      <p class="form_content">{{ form.url1 }}</p>
      <p class="title">テストurlログインid</p>
      <p class="form_content">{{ form.login_id }}</p>
      <p class="title">テストurlログインパスワード</p>
      <p class="form_content">{{ form.password }}</p>
      <p class="title">本文</p>
      <p class="form_content">{{ form.body }}</p>
      <p class="title">公開する</p>
      <p class="form_content">{{ form.release }}</p>
      </div>
      <button type="submit" class="submit-btn">送信</button>
    </form>
    <a href="#" class="back-btn" onClick="history.back(); return false;">前のページにもどる</a>
  </div>
</div>
{% endblock %}