.article{
  margin-top: 40px;
  .article-list{
    width: 100%;
    text-align: center;
    table{
      margin: auto;
      width: 80%;
      tr{
        border: 1px solid #000;
        th{
          border: 1px solid #000;
          text-align: center;
        }
        td{
          border: 1px solid #000;
        }
        .article-thumbnail{
          padding: 10px;
          a{
            img{
              width: 100px;
            }
          }
        }
      }
    }
  }
  .article-form{
    text-align: center;
    margin: auto;
    width: 90%;
    table{
      width: 100%;
        tr{
          margin: 20px;
        th{
          width: 250px;
        }
        td{
          width: calc(100% - 250px);
          ul{
            width: 90%;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0px;
            li{
              list-style: none;
              width: 100%;
            }
          }
          select,
          textarea,
          input{
            width: 90%;
            padding: 10px;
          }
          #id-release{
            text-align: left;
          }
        }
      }
    }
  }
  .category-form{
    text-align: center;
    margin: auto;
    width: 60%;
    table{
      width: 80%;
        tr{
          margin: 20px;
        th{
          width: 250px;
        }
        td{
          width: calc(100% - 250px);
          input{
            width: 90%;
            padding: 10px;
          }
          #id-release{
            text-align: left;
          }
        }
      }
    }
  }
  .submit-btn{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 50px;
    background-color: blue;
    color: #fff;
    font-weight: bold;
    border: inherit;
    border-radius: 15px;
  }
  .article-detail{
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    .left{
      margin-bottom: 0;
      text-align: left;
    }
    .attention{
      margin-top: 50px;
    }
    .title{
      margin: 0;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    table{
      text-align: center;
      margin: auto;
      margin-bottom: 300px;
      tr{
        align-items: center;
        th{
          width: 250px;
        }
      }
    }
  }
}
