.nippo{
  margin-top: 40px;

  .nippo-content{
    width: 100%;
    text-align: center;
  }
  table{
    text-align: center;
    margin: auto;
  }
}
.nippo-form{
  table{
    tr{
      td{
        select{
          width: 60% !important;
        }
      }
    }
  }
}