{% extends 'base/base.html' %}
{% load static %}
{% block page-title %}
日報
<small>自分の日報</small>
{% endblock %}
{% block pankuzu %}
自分の日報
{% endblock %}
{% block content %}
<div class="article">
  <div class="article-list">
    <table>
      <tbody>
        <tr>
          <th>投稿者</th>
          <th>目標</th>
          <th>作成日</th>
          <th>更新日</th>
        </tr>
        {% for nippo in nippo_list %}
        {% if nippo.user == user %}
        <tr>
          <td class="article-thumbnail">
            <a href="">
              {% if nippo.user.image %}
              <img src="{{ nippo.user.image }}">
              {% else %}
              {{ nippo.user.username }}
              {% endif %}
            </a>
          </td>
          <td><a href="{% url 'nippo:nippo_detail' nippo.pk %}">{{ nippo.title }}</a></td>
          <td>{{ nippo.created_at }}</td>
          <td>{{ nippo.updated_at }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}