{% extends 'base/base.html' %}
{% load static %}
{% block page-title %}
日報投稿
<small></small>
{% endblock %}
{% block content %}
<div class="article">
  <div class="article-form nippo-form">
    <form action="" method="post" enctype="multipart/form-data">
      <table>
        <tr>
          <th>タイトル</th>
          <td>{{ form.title }}</td>
        </tr>
        <tr>
          <th>日時</th>
          <td>{{ form.date }}</td>
        </tr>
      </table>
      <table>
        <thead>
          <th class="text-center">時間</th>
          <th class="text-center">予定</th>
          <th class="text-center">実績</th>
        </thead>
        <tbody>
          {{ formset.management_form }}
          {% for file_form in formset %}
          {{ file_form.errors }}
          <tr>
            <td>{{ file_form.time }}{{ file_form.id }}</td>
            <td>{{ file_form.plan }}</td>
            <td>{{ file_form.actual }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% csrf_token %}
      <button type="submit" class="submit-btn">送信</button>
    </form>
  </div>
</div>
{% endblock %}