{% extends 'base/base.html' %}
{% load static %}
{% block page-title %}
ユーザ一覧
<small></small>
{% endblock %}
{% block content %}
<div class="article">
  <div class="article-list">
    <table>
      <tbody>
        <tr>
          <th>ユーザ名</th>
          <th>メールアドレス</th>
        </tr>
        {% for user in user_list %}
        <tr>
          <td><a href="{% url 'accounts:profile_detail' user.pk %}">{{ user.username }}</a></td>
          <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}