{% extends 'base/base.html' %}
{% load static %}
{% block page-title %}
{% if detail %}
進捗投稿更新
{% else %}
進捗投稿作成
{% endif %}
<small></small>
{% endblock %}
{% block pankuzu %}
{% if detail %}
進捗投稿更新
{% else %}
進捗投稿作成
{% endif %}
{% endblock %}
{% block content %}
<div class="article">
  <div class="article-form">
    <form method="POST" class="is-form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-content">
        {{ form.errors }}
        <p class="title">ステータス</p>
        <p class="form_content checkbox">{{ form.status }}</p>
        <p class="title">タイトル</p>
        <p class="form_content">{{ form.title }}</p>
        <p class="title">本文</p>
        <p class="form_content">{{ form.body }}</p>
        <p class="title"></p>公開する</p>
        <p class="form_content">{{ form.release }}</p>
        <p class="title">投稿日</p>
        <p class="form_content">{{ form.created_at }}</p>
        <p class="title">更新日</p>
        <p class="form_content">{{ form.updated_at }}</p>
      </div>
      <button type="submit" class="submit-btn">送信</button>
    </form>
  </div>
</div>
{% endblock %}